@import "https://fonts.googleapis.com/css?family=Aclonica|Poppins:300,400,500,600&display=swap";

.btn_1,
.live_stareams 
.live_stareams_slide 
.live_stareams_slide_img:after,
.Latest_War 
.Latest_War_text:after,
.gallery_part 
.single_gallery_item 
.single_gallery_item_iner:after,
.footer_part 
.single_footer_part 
.mail_part 
.email_icon{background-image:-webkit-gradient(linear,right top,left top,from(#ff0000),color-stop(51%,#c6019a),to(#ff0000));
background-image:-webkit-linear-gradient(right,#ff0000 0%,#c6019a 51%,#ff0000 100%);
background-image:-o-linear-gradient(right,#ff0000 0%,#c6019a 51%,#ff0000 100%);
background-image:linear-gradient(to left,#ff0000 0%,#c6019a 51%,#ff0000 100%)}

.gallery h2{
	color:#fff;
}
.gallery_part{position:relative;
z-index:1}
.gallery_part 
.single_gallery_item{position:relative;
width:100%;
height:100%;
z-index:1;
overflow:hidden}
.gallery_part 
.single_gallery_item 
.single_gallery_item_iner:after{position:absolute;
content:"";
left:0;
top:0;
width:100%;
height:100%;
z-index:-1;
opacity:0;
-webkit-transition:
.5s;
transition:
.5s;
transform:scale(
.7);
background-size:200% auto}
.gallery_part 
.single_gallery_item 
.single_gallery_item_iner 
.gallery_item_text{position:absolute;
left:0;
right:0;
top:42%;
z-index:5;
visibility:hidden;
opacity:0;
-webkit-transition:
.5s;
transition:
.5s;
width:100%;
overflow:hidden;
text-align:center;
margin:0 auto;
font-size:40px;
color:#fff}
.gallery_part 
.single_gallery_item 
.single_gallery_item_iner 
.gallery_item_text h3{color:#fff;
font-size:20px;
position:relative;
display:block;
overflow:hidden}
.gallery_part 
.single_gallery_item 
.single_gallery_item_iner 
.gallery_item_text p{color:#fff}
.gallery_part 
.single_gallery_item:hover 
.gallery_item_text{opacity:1;
visibility:visible}
.gallery_part 
.single_gallery_item:hover 
.single_gallery_item_iner:after{opacity:
.7;
transform:scale(1)}
.gallery_part 
.grid:after{content:'';
display:block;
clear:both}
.gallery_part 
.grid-sizer,
.gallery_part 
.grid-item{width:25%}
@media(max-width:576px){
.gallery_part 
.grid-sizer,
.gallery_part 
.grid-item{width:100%}}
@media only screen and (min-width:576px) and (max-width:767px){
.gallery_part 
.grid-sizer,
.gallery_part 
.grid-item{width:50%}}
@media only screen and (min-width:768px) and (max-width:991px){
.gallery_part 
.grid-sizer,
.gallery_part 
.grid-item{width:50%}}
.gallery_part 
.grid-item{height:300px;
float:left;
border:5px solid #000;
border-bottom:5px solid #000}
@media(max-width:991px){
.gallery_part 
.grid-item{border:0 solid transparent;
border-bottom:0 solid transparent}}
.gallery_part 
.grid-item--width-1{width:50%}
@media(max-width:576px){
.gallery_part 
.grid-item--width-1{width:100%}}
@media only screen and (min-width:576px) and (max-width:767px){
.gallery_part 
.grid-item--width-1{width:50%}}
@media only screen and (min-width:768px) and (max-width:991px){
.gallery_part 
.grid-item--width-1{width:50%}}
.gallery_part 
.grid-item--height-1{height:250px}
.gallery_part 
.grid-item--height-2{height:350px}
@media(max-width:991px){
.gallery_part 
.sm_weight{width:100%}}
.gallery_part 
.bg_img{background-position:center;
background-repeat:no-repeat;
background-size:cover}



.single-gallery-image{margin-top:30px;
background-repeat:no-repeat!important;
background-position:center center!important;
background-size:cover!important;
height:200px}



body{font-family:aclonica,sans-serif;
padding:0;
margin:0;
font-size:14px;
background-color:#fff;
}
@media{
	.img-size--property{
		position: relative;
		left: 100px;

}
}

.img-size--property{
	max-width: 250px;
	max-height: 250px;
}