
  
  .ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px; } }
    .ftco-navbar-light .navbar-brand {
      color: #fff;
      z-index: 0; }
      .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
        color: #fff; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-brand {
          color: #fff; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 16px;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 1 !important; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #bf925b; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-top: .9rem;
          padding-bottom: .9rem;
          color: rgba(255, 255, 255, 0.7); }
          .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
            color: #fff; } }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      border: none;
      background: #fff;
      -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        font-size: 14px; }
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
          background: transparent;
          color: #000000; }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
          padding-left: 0;
          margin-left: 0; } }
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 2px;
        background: rgba(255, 255, 255, 0.05); }
        @media (max-width: 991.98px) {
          .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
            display: none; } }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #000000; }
      @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          color: #fff;
          background: #bf925b; } }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #bf925b; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.active > a {
          color: #fff; } }
    .ftco-navbar-light .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
      .ftco-navbar-light .navbar-toggler:focus {
        outline: none !important; }
    .ftco-navbar-light.scrolled {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: #fff !important;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
      .ftco-navbar-light.scrolled .nav-item.active > a {
        color: #bf925b !important; }
      .ftco-navbar-light.scrolled .nav-item.cta > a {
        color: #fff !important;
        background: #bf925b;
        border: none !important; }
        .ftco-navbar-light.scrolled .nav-item.cta > a span {
          display: inline-block;
          color: #fff !important; }
      .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
        border-color: #bf925b; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      @media (max-width: 767.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          padding-left: 0 !important;
          padding-right: 0 !important; } }
      .ftco-navbar-light.scrolled .navbar-toggler {
        border: none;
        color: rgba(0, 0, 0, 0.5) !important;
        border-color: rgba(0, 0, 0, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em; }
      .ftco-navbar-light.scrolled .nav-link {
        padding-top: 0.9rem !important;
        padding-bottom: 0.9rem !important;
        color: #000000 !important; }
        .ftco-navbar-light.scrolled .nav-link.active {
          color: #bf925b !important; }
      .ftco-navbar-light.scrolled.awake {
        margin-top: 0px;
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled.sleep {
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled .navbar-brand {
        color: #000000; }
        .ftco-navbar-light.scrolled .navbar-brand span {
          color: #bf925b; }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    z-index: 0;
    padding-left: 54px; }
    .navbar-brand span {
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 50px;
      color: #fff;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 0; }
  
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* style */ }
    @media (max-width: 1199.98px) {
      .hero {
        background-position: top center !important; } }
  
  .hero-wrap {
    width: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; }
    @media (max-width: 1199.98px) {
      .hero-wrap {
        background-position: top center !important; } }
    .hero-wrap .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .6;
      background: #000000; }
    .hero-wrap.hero-wrap-2 {
      height: 780px; }
      .hero-wrap.hero-wrap-2 .overlay {
        background: #000000;
        width: 100%;
        opacity: .5;
        height: 780px; }
      .hero-wrap.hero-wrap-2 .slider-text {
        height: 780px !important; }
  
  .slider-text {
    position: relative;
    height: 780px; }
    .slider-text .text {
      width: 100%; }
    .slider-text .subheading {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #bf925b;
      letter-spacing: 2px; }
    .slider-text h1 {
      font-size: 7vw;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      line-height: 1;
      font-weight: 700;
      color: #fff; }
    .slider-text .breadcrumbs {
      font-size: 16px;
      margin-bottom: 20px;
      z-index: 99;
      font-weight: 600;
      text-transform: uppercase; }
      .slider-text .breadcrumbs span {
        color: white; }
        .slider-text .breadcrumbs span i {
          color: white; }
        .slider-text .breadcrumbs span a {
          color: #bf925b; }
          .slider-text .breadcrumbs span a i {
            color: #bf925b; }
          .slider-text .breadcrumbs span a:hover, .slider-text .breadcrumbs span a:focus {
            color: #bf925b; }
    .slider-text .bread {
      font-weight: 900;
      color: #fff;
      font-size: 80px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase; }
  
  .img-2 {
    width: 100%;
    position: relative; }
    @media (max-width: 767.98px) {
      .img-2 {
        height: 300px;
        margin-bottom: 40px; } }
    .img-2 .icon {
      width: 80px;
      height: 80px;
      background: #fff;
      -webkit-animation: pulse 2s infinite;
      animation: pulse 2s infinite;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .img-2 .icon span {
        color: #bf925b;
        font-size: 24px; }
  
  .wrap-about {
    position: relative; }
    @media (min-width: 992px) {
      .wrap-about {
        padding-left: 6em; } }
    @media (min-width: 768px) {
      .wrap-about {
        padding-left: 3em; } }
  
  .ftco-relative {
    position: relative; }
  

  
  .ftco-mission h3 {
    font-weight: 900; }
  
  .container {
    max-width: 1210px; }
  
  .bg-light {
    background: #ebe8de !important; }
  
  .bg-primary {
    background: #bf925b; }
  
  .bg-black {
    background: #1e1e1e; }
  
  .btn {
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09); }
    .btn:hover, .btn:active, .btn:focus {
      outline: none; }
    .btn.btn-primary {
      background: #bf925b !important;
      border: 1px solid #bf925b !important;
      color: #fff !important; }
      .btn.btn-primary:hover {
        border: 1px solid #bf925b;
        background: transparent;
        color: #bf925b; }
      .btn.btn-primary.btn-outline-primary {
        border: 3px solid #bf925b !important;
        background: transparent !important;
        color: #bf925b !important; }
        .btn.btn-primary.btn-outline-primary:hover {
          border: 3px solid transparent !important;
          background: #bf925b !important;
          color: #fff !important; }
    .btn.btn-black {
      background: #000000 !important;
      border: 1px solid #000000 !important;
      color: #fff !important; }
      .btn.btn-black:hover {
        border: 1px solid #000000 !important;
        background: #000000 !important;
        color: #fff; }
      .btn.btn-black.btn-outline-black {
        border: 1px solid #000000;
        background: transparent;
        color: #000000; }
        .btn.btn-black.btn-outline-black:hover {
          border: 1px solid transparent;
          background: #000000 !important;
          color: #fff; }
  
  .services-wrap {
    width: 100%; }
    .services-wrap.img {
      position: relative;
      z-index: 0; }
      @media (max-width: 767.98px) {
        .services-wrap.img {
          height: 350px; } }
      .services-wrap.img:after, .services-wrap.img:before {
        position: absolute;
        top: 50px;
        left: 50px;
        right: 50px;
        bottom: 50px;
        content: '';
        border: 3px solid #bf925b;
        z-index: -1; }
      .services-wrap.img:before {
        background: #000000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        border: none;
        opacity: .5; }
    .services-wrap .text {
      width: 100%; }
      .services-wrap .text h3 {
        color: #fff; }
  
  .text-about {
    width: 100%; }
    .text-about h2 {
      font-size: 20px;
      text-transform: uppercase;
      border-bottom: 2px solid #bf925b;
      margin-bottom: 50px; }
    .text-about .logo {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 1.2; }
      .text-about .logo a {
        color: #000000; }
        .text-about .logo a span {
          display: block;
          font-size: 80px; }
  
  .services-section {
    padding: 0; }
  
  .services {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 40px 25px; }
    @media (max-width: 991.98px) {
      .services {
        padding: 10px 0; } }
    .services .icon {
      line-height: 1.3;
      position: relative; }
      .services .icon span {
        font-size: 60px;
        color: rgba(0, 0, 0, 0.2);
        color: #bf925b; }
    .services .media-body h3 {
      font-size: 18px;
      font-weight: 700; }
  
  .aside-stretch {
    background: #cdaa80; }
    .aside-stretch:after {
      position: absolute;
      top: 0;
      right: 0%;
      bottom: 0;
      content: '';
      width: 360%;
      background: #cdaa80;
      border: 1px solid red;
      z-index: -1; }
    @media (max-width: 767.98px) {
      .aside-stretch {
        background: transparent; }
        .aside-stretch:after {
          background: transparent;
          display: none; } }
  
  .form-control {
    height: 52px !important;
    background: transparent !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #bf925b !important; }
    .form-control:focus, .form-control:active {
      border-color: #000000; }
  
  textarea.form-control {
    height: inherit !important; }
  
  .ftco-animate {
    opacity: 0;
    visibility: hidden; }
  
  .bg-primary {
    background: #bf925b !important; }
  
  .media-custom {
    background: #fff; }
    .media-custom .media-body .name {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 0;
      color: #bf925b; }
    .media-custom .media-body .position {
      font-size: 13px;
      color: #d9d9d9; }
  
  .about-author .desc h3 {
    font-size: 24px; }
  
  .ftco-section {
    padding: 7em 0;
    position: relative; }
    @media (max-width: 767.98px) {
      .ftco-section {
        padding: 6em 0; } }
  
  .ftco-no-pt {
    padding-top: 0 !important; }
  
  .ftco-no-pb {
    padding-bottom: 0 !important; }
  
  .ftco-bg-dark {
    background: #3c312e; }
  
  .team {
    width: 100%;
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #333333;
    padding-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden; }
    @media (max-width: 991.98px) {
      .team {
        margin-bottom: 30px; } }
    .team.team-2 h2 {
      font-size: 24px !important; }
    .team .img {
      width: 100%;
      height: 350px;
      margin: 0 auto;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden; }
      .team .img:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #bf925b;
        opacity: 0;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .team h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0px;
      color: #fff;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase; }
    .team .position {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600; }
    .team:hover, .team:focus {
      margin-top: -10px; }
      .team:hover .img:after, .team:focus .img:after {
        opacity: .8; }
  
  .ftco-team {
    position: relative; }
    .ftco-team .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .7;
      background: #232931; }
    .ftco-team .owl-carousel {
      margin: 0; }
    .ftco-team .owl-carousel .owl-stage-outer {
      padding-top: 1em;
      padding-bottom: 2em;
      position: relative; }
    .ftco-team .owl-nav {
      position: absolute;
      bottom: 60px !important;
      left: 0;
      right: 0;
      margin: 0 auto; }
      @media (max-width: 991.98px) {
        .ftco-team .owl-nav {
          display: none; } }
      .ftco-team .owl-nav .owl-prev,
      .ftco-team .owl-nav .owl-next {
        position: absolute;
        width: 60px;
        height: 60px;
        background: #fff !important;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        transition: all 0.7s ease;
        opacity: 1; }
        .ftco-team .owl-nav .owl-prev span:before,
        .ftco-team .owl-nav .owl-next span:before {
          font-size: 20px;
          margin-top: 7px;
          color: #000000; }
      .ftco-team .owl-nav .owl-prev {
        top: 0 !important;
        right: 0 !important; }
        @media (min-width: 992px) {
          .ftco-team .owl-nav .owl-prev {
            right: 61px !important; } }
        .ftco-team .owl-nav .owl-prev:hover, .ftco-team .owl-nav .owl-prev:focus {
          background: #000000 !important;
          outline: none !important; }
          .ftco-team .owl-nav .owl-prev:hover span:before, .ftco-team .owl-nav .owl-prev:focus span:before {
            font-size: 20px;
            margin-top: 7px;
            color: #fff; }
      .ftco-team .owl-nav .owl-next {
        top: 0 !important;
        right: 0 !important; }
        @media (min-width: 992px) {
          .ftco-team .owl-nav .owl-next {
            right: 0 !important; } }
        .ftco-team .owl-nav .owl-next:hover, .ftco-team .owl-nav .owl-next:focus {
          background: #000000 !important;
          outline: none !important; }
          .ftco-team .owl-nav .owl-next:hover span:before, .ftco-team .owl-nav .owl-next:focus span:before {
            font-size: 24px;
            margin-top: 7px;
            color: #fff; }
    .ftco-team .owl-dots {
      text-align: center; }
      .ftco-team .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0) !important;
        border: 1px solid #bf925b; }
        .ftco-team .owl-dots .owl-dot.active {
          background: #bf925b !important; }
  
  .ftco-footer {
    font-size: 16px;
    background: #333333;
    padding: 7em 0;
    z-index: 0; }
    .ftco-footer .ftco-footer-logo {
      text-transform: uppercase;
      letter-spacing: .1em; }
    .ftco-footer .ftco-footer-widget h2 {
      font-weight: normal;
      color: #fff;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 700;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase; }
    .ftco-footer .ftco-footer-widget ul li {
      font-weight: 500; }
      .ftco-footer .ftco-footer-widget ul li a {
        color: rgba(255, 255, 255, 0.7); }
        .ftco-footer .ftco-footer-widget ul li a span {
          color: #fff; }
        .ftco-footer .ftco-footer-widget ul li a:hover {
          color: #bf925b; }
    .ftco-footer .ftco-footer-widget .btn-primary {
      background: #fff !important;
      border: 2px solid #fff !important; }
      .ftco-footer .ftco-footer-widget .btn-primary:hover {
        background: #fff;
        border: 2px solid #fff !important; }
    .ftco-footer p {
      color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a {
      color: rgba(255, 255, 255, 0.7); }
      .ftco-footer a:hover {
        color: #fff; }
    .ftco-footer .ftco-heading-2 {
      font-size: 17px;
      font-weight: 400;
      color: #000000; }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; }
    .ftco-footer-social li a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .ftco-footer-social li a:hover {
        color: #fff; }
  
  .footer-small-nav > li {
    display: inline-block; }
    .footer-small-nav > li a {
      margin: 0 10px 10px 0; }
      .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
        color: #bf925b; }
  
  .media .ftco-icon {
    width: 100px; }
    .media .ftco-icon span {
      color: #bf925b; }
  
  .ftco-media {
    background: #fff;
    border-radius: 0px; }
    .ftco-media .heading {
      font-weight: normal; }
    .ftco-media.ftco-media-shadow {
      padding: 40px;
      background: #fff;
      -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
      -webkit-transition: .2s all ease;
      -o-transition: .2s all ease;
      transition: .2s all ease;
      position: relative;
      top: 0; }
      .ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
        top: -3px;
        -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
        box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
    .ftco-media .icon {
      font-size: 50px;
      display: block;
      color: #bf925b; }
    .ftco-media.text-center .ftco-icon {
      margin: 0 auto; }
  
  .ftco-overflow-hidden {
    overflow: hidden; }
  
 
  
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  
  .ftco-counter .img {
    display: block;
    width: 100%; }
    @media (max-width: 991.98px) {
      .ftco-counter .img {
        height: 400px;
        background-position: top center !important; } }
  
  .ftco-counter .heading-section h2 span {
    font-weight: 600;
    color: #bf925b; }
  
  .block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 270px; }
  
  .blog-entry {
    overflow: hidden; }
    @media (min-width: 768px) {
      .blog-entry {
        margin-bottom: 30px; } }
    @media (max-width: 767.98px) {
      .blog-entry {
        margin-bottom: 30px; } }
    .blog-entry .text {
      position: relative;
      width: 100%;
      margin: 0 auto; }
      .blog-entry .text .heading {
        font-size: 20px;
        margin-bottom: 16px;
        font-weight: 600; }
        .blog-entry .text .heading a {
          color: #000000; }
          .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
            color: #bf925b; }
    .blog-entry .meta > div {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 15px;
      text-transform: uppercase; }
      .blog-entry .meta > div a {
        color: gray; }
        .blog-entry .meta > div a:hover {
          color: #666666; }
    .blog-entry .topp {
      position: absolute;
      top: -5em;
      left: 1em; }
    .blog-entry .one {
      width: 60px; }
    .blog-entry .two {
      width: calc(100% - 60px); }
    .blog-entry span.day {
      font-size: 50px;
      font-weight: 300;
      color: #bf925b;
      line-height: 1; }
    .blog-entry span.yr, .blog-entry span.mos {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.8); }
  
  .block-23 ul {
    padding: 0; }
    .block-23 ul li, .block-23 ul li > a {
      display: table;
      line-height: 1.5;
      margin-bottom: 15px; }
    .block-23 ul li span {
      color: rgba(255, 255, 255, 0.7); }
    .block-23 ul li .icon, .block-23 ul li .text {
      display: table-cell;
      vertical-align: top; }
    .block-23 ul li .icon {
      width: 40px;
      font-size: 18px;
      padding-top: 2px;
      color: white; }
  
  .block-27 ul {
    padding: 0;
    margin: 0; }
    .block-27 ul li {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 400; }
      .block-27 ul li a, .block-27 ul li span {
        color: #000000;
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #cccccc; }
      .block-27 ul li.active a, .block-27 ul li.active span {
        background: #bf925b;
        color: #000000;
        border: 1px solid transparent; }
  
  .contact-section .contact-info p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700; }
    .contact-section .contact-info p a {
      color: rgba(0, 0, 0, 0.8); }
  
  .contact-section .box {
    width: 100%;
    display: block; }
    .contact-section .box .icon {
      width: 100px;
      height: 100px;
      background: #bf925b;
      margin: 0 auto;
      margin-bottom: 2em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .contact-section .box .icon span {
        color: #fff;
        font-size: 30px; }
    .contact-section .box h3 {
      font-size: 18px;
      font-weight: 900; }
  
  .contact-section .contact-form {
    width: 100%; }
  
  .block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px; }
  
  .block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px; }
  
  .block-21 .text {
    width: calc(100% - 100px); }
    .block-21 .text .heading-1 {
      font-size: 18px;
      font-weight: 400; }
      .block-21 .text .heading-1 a {
        color: #000000; }
        .block-21 .text .heading-1 a:hover, .block-21 .text .heading-1 a:active, .block-21 .text .heading-1 a:focus {
          color: #bf925b; }
    .block-21 .text .meta > div {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px; }
      .block-21 .text .meta > div a {
        color: gray; }
  
  /* Blog*/
  .post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em; }
    .post-info > div {
      display: inline-block; }
      .post-info > div .seperator {
        display: inline-block;
        margin: 0 10px;
        opacity: .5; }
  
  .tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px; }
    .tagcloud a:hover {
      border: 1px solid #000; }
  
  .comment-form-wrap {
    clear: both; }
  
  .comment-list {
    padding: 0;
    margin: 0; }
    .comment-list .children {
      padding: 50px 0 0 40px;
      margin: 0;
      float: left;
      width: 100%; }
    .comment-list li {
      padding: 0;
      margin: 0 0 30px 0;
      float: left;
      width: 100%;
      clear: both;
      list-style: none; }
      .comment-list li .vcard {
        width: 80px;
        float: left; }
        .comment-list li .vcard img {
          width: 50px;
          border-radius: 50%; }
      .comment-list li .comment-body {
        float: right;
        width: calc(100% - 80px); }
        .comment-list li .comment-body h3 {
          font-size: 20px; }
        .comment-list li .comment-body .meta {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: .1em;
          color: rgba(0, 0, 0, 0.7); }
        .comment-list li .comment-body .reply {
          padding: 5px 10px;
          background: #e6e6e6;
          color: #000000;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: .1em;
          font-weight: 400;
          border-radius: 4px; }
          .comment-list li .comment-body .reply:hover {
            color: #fff;
            background: black; }
  
  .search-form {
    background: #f2f2f2;
    padding: 10px; }
    .search-form .form-group {
      position: relative; }
      .search-form .form-group input {
        padding-right: 50px;
        font-size: 14px;
        border: 2px solid #bf925b !important;
        background: transparent !important; }
    .search-form .icon {
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  
  .sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    background: #fff; }
    .sidebar-box *:last-child {
      margin-bottom: 0; }
    .sidebar-box h3 {
      font-size: 18px;
      margin-bottom: 15px; }
    .sidebar-box .heading-2 {
      font-size: 24px; }
  
  .categories, .sidelink {
    margin: 0;
    padding: 0; }
    .categories li, .sidelink li {
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      list-style: none; }
      .categories li:last-child, .sidelink li:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0; }
      .categories li a, .sidelink li a {
        display: block;
        color: #1a1a1a; }
        .categories li a span, .sidelink li a span {
          position: absolute;
          right: 0;
          top: 0;
          color: #563b4c; }
      .categories li.active a, .sidelink li.active a {
        color: #000000;
        font-style: italic; }
  
  #ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  
  #ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }
  

