:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #78d5ef;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


@-ms-viewport {
  width: device-width; }

section {
  display: block; }

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }


h2{
  margin-top: 0;
  margin-bottom: 0.5rem; }



strong {
  font-weight: bolder; }



h2
{
  margin-bottom: 0.5rem;
    font-size: 3em;
  font-family: inherit;
    color: white;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.ftco-section {
  padding: 6em 0;
  position: relative; }

.ftco-counter {
  padding: 6em 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .text strong.number {
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    display: block; }
  .ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }
  .ftco-counter .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #fcd307; }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }


#section-counter {
  position: relative;
  z-index: 0; }
  #section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .7;
    background: #000000; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

 .col-lg-4 {
     
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
         max-width: 33.33333%; }

.col-lg-8 {
    position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

.heading-section .subheading {
  font-weight: 600;
  font-size: 13px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fcd307; }

.heading-section h2 {
  font-size: 50px;
  font-weight: 700; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }



.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.7); }

.heading-section.heading-section-white h2 {
  font-size: 40px;
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.7); }

.mb-4,
{
  margin-bottom: 1.5rem !important; }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
      max-width: 100%; }}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px; } }

.text-center {
  text-align: center !important; }

.ftco-counter .text strong.number {
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    display: block; }
  .ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }

strong {
  font-weight: bolder; }

@media (max-width: 1199.98px) {
    
  .ftco-counter .text strong.number {
    font-weight: 500;
    font-size: 40px;
    color: #fff;
      display: block; }}

.ftco-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }
     
     